---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

export async function getStaticPaths() {
	const list = (await getCollection("blog"))
		.filter((entry) => !entry.data.draft)
		.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	return list.map((entry, i) => ({
		params: { id: entry.id },
		props: {
			entry,
			prev: list[i + 1],
			next: list[i - 1],
		},
	}))
}

type Props = {
	entry: CollectionEntry<"blog">
	next?: CollectionEntry<"blog">
	prev?: CollectionEntry<"blog">
}

const { entry, next, prev } = Astro.props

const { title, description } = entry.data
---

<PageLayout title={title} description={description}>
	<TopLayout>
		<div class="animate">
			<ArticleTopLayout entry={entry} />
		</div>
	</TopLayout>
	<BottomLayout>
		<div class="animate">
			<ArticleBottomLayout entry={entry} next={next} prev={prev} />
		</div>
	</BottomLayout>
</PageLayout>
