---
import { type CollectionEntry, getCollection, render } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import FormattedDate from "@components/FormattedDate.astro"
import { readingTime } from "@lib/utils"
import ArrowLink from "@components/ArrowLink.astro"
import { SOCIALS } from "@consts"
import Link from "@components/Link.astro"

export async function getStaticPaths() {
	const posts = (await getCollection("blog"))
		.filter((post) => !post.data.draft)
		.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	return posts.map((post, i) => ({
		params: { id: post.id },
		props: { ...post, next: posts[i + 1], prev: posts[i - 1] },
	}))
}

type Props = CollectionEntry<"blog"> & {
	next: CollectionEntry<"blog">
	prev: CollectionEntry<"blog">
}

const post = Astro.props

const { Content } = await render(post)
---

<PageLayout title={post.data.title} description={post.data.description}>
	<Container>
		<div class="animate">
			<ArrowLink href="/blog" prev={true}> Back to blog </ArrowLink>
		</div>
		<div class="space-y-1 my-10">
			<div class="animate flex items-center gap-1.5">
				<div class="font-base text-sm">
					<FormattedDate date={post.data.date} />
				</div>
				&bull;
				<div class="font-base text-sm">
					{readingTime(post.body)}
				</div>
			</div>
			<div
				class="animate text-2xl font-semibold text-black dark:text-white"
			>
				{post.data.title}
			</div>
			<div class="animate text-sm">{post.data.description}</div>
		</div>
		<article class="animate">
			<Content />
		</article>
		<div class="animate mt-10 space-y-10">
			<div
				class="w-1/2 mx-auto border border-black/15 dark:border-white/30"
			>
			</div>
			<div>
				💭 I'd love to hear your feedback on this post! Feel free to <Link
					external
					href={SOCIALS[0].HREF}>email me</Link
				> with your thoughts.
			</div>
		</div>
		<div class="animate mt-12 flex flex-col sm:flex-row items-start gap-2">
			{
				post.prev && (
					<ArrowLink
						href={`/${post.prev.collection}/${post.prev.id}`}
					>
						<div class="text-xs mb-2 font-semibold">PREV</div>
						<div>{post.prev.data.title}</div>
					</ArrowLink>
				)
			}
			<div class="sm:flex-grow hidden sm:block"></div>
			{
				post.next && (
					<ArrowLink
						right
						href={`/${post.next.collection}/${post.next.id}`}
					>
						<div class="text-xs mb-2 font-semibold">
							NEXT
						</div>
						<div>{post.next.data.title}</div>
					</ArrowLink>
				)
			}
		</div>
	</Container>
</PageLayout>
