---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import Link from "@components/Link.astro"
import Icon from "@components/Icon.astro"
import FormInput from "@components/FormInput.astro"
import { CONTACT, SITE, SOCIALS } from "@consts"
import Image from "astro/components/Image.astro"
import Me from "../../../public/me.png"
---

<PageLayout title={CONTACT.TITLE} description={CONTACT.DESCRIPTION}>
	<Container>
		<div class="space-y-8 flex flex-col items-center">
			<div class="animate">
				<img
					class="w-24 h-24 rounded-md"
					src={SITE.IMAGE}
					alt={SITE.NAME}
				/>
			</div>
			<div
				class="animate font-semibold text-black dark:text-white text-center"
			>
				Let's Connect - I'd love to hear from you.
			</div>
			<ul class="animate flex flex-wrap gap-4 text-center">
				{
					SOCIALS.map((SOCIAL) => (
						<li class="flex gap-x-2 text-nowrap">
							<Link
								href={SOCIAL.HREF}
								external
								aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
							>
								<div class="flex flex-col items-center gap-2">
									<Icon
										name={SOCIAL.ICON}
										class="size-6 fill-current"
									/>
									<span>{SOCIAL.NAME}</span>
								</div>
							</Link>
						</li>
					))
				}
			</ul>
			<div class="flex items-center text-center">
				<Image src={Me} alt={""} class="rounded" width="75" height="20" />@henryhale.dev</div>
			<form
				method="post"
				action="https://formbold.com/s/3n55d"
				class="animate px-4 pb-4 container max-w-sm mx-auto"
			>
				<div
					class="animate font-semibold text-black dark:text-white text-center mb-4"
				>
					Contact Me.
				</div>
				<FormInput label="Full Name" type="text" name="fullname" />
				<FormInput label="Email Address" type="email" name="email" />
				<FormInput label="Subject" type="text" name="subject" />
				<FormInput label="Message" type="textarea" name="message" />
				<button
					type="submit"
					class="block w-full mt-4 px-2 py-1 flex-nowrap rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
				>
					<span>Send Message</span>
				</button>
			</form>
		</div>
	</Container>
</PageLayout>
