---
import { getCollection } from "astro:content"
import Container from "@components/Container.astro"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard.astro"
import Link from "@components/Link.astro"
import IconCard from "@components/IconCard.astro"
import { SITE, HOME, SERVICES } from "@consts"

const blog = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const projects = (await getCollection("projects"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container>
		<div class="flex flex-col items-center">
			<div class="my-4">
				<img
					class="w-24 h-24 rounded-md"
					src={SITE.IMAGE}
					alt={SITE.NAME}
				/>
			</div>
			<h4
				class="animate font-semibold text-black dark:text-white text-lg"
			>
				Hi, I'm Henry Hale <span class="text-xl">👋🏻</span>
			</h4>
		</div>
		<div class="space-y-16">
			<article class="space-y-4 text-justify">
				<p class="animate">
					I am a developer driven by curiosity. I build for the thrill
					of the idea, not to chase trends, but to chase insight. My
					projects range from toy experiments to ambitious
					system-level concepts.
					<p class="animate">
						Oftentimes, I work on problems I face during the course
						of my daily life; subtle or interesting. I write about
						some of them on <Link href="/blog">my blog</Link>. While
						not programming, I'm watching movies and past tech
						events. I enjoy mobile games (<Link
							href="https://play.google.com/store/apps/details?id=net.apex_designs.payback2"
							>payback²</Link
						>
						and <Link
							href="https://play.google.com/store/apps/details?id=com.tohsoft.arashi.ninja.shadow"
							>ninja warrior</Link
						>), chocolate cake, teaching, tours and travel.
					</p>
					<p class="animate">
						Through this website, you'll find a glimpse into my
						world.
						<br />
						<br />
						Welcome to my corner of the internet.
					</p>
				</p>
			</article>

			<section class="animate space-y-6">
				<h5 class="animate font-semibold text-black dark:text-white">
					Areas of Expertise
				</h5>
				<ul class="animate grid sm:grid-cols-2 gap-4">
					{
						SERVICES.map((s) => (
							<IconCard
								icon={s.ICON}
								title={s.TITLE}
								text={s.TEXT}
							/>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-6">
				<div
					class="flex flex-wrap gap-y-2 items-center justify-between"
				>
					<h5 class="font-semibold text-black dark:text-white">
						Recent projects
					</h5>
					<Link href="/projects"> See all projects </Link>
				</div>
				<ul class="flex flex-col gap-4">
					{
						projects.map((project) => (
							<li>
								<ArrowCard entry={project} />
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-6">
				<div
					class="flex flex-wrap gap-y-2 items-center justify-between"
				>
					<h5 class="font-semibold text-black dark:text-white">
						Latest posts
					</h5>
					<Link href="/blog"> See all posts </Link>
				</div>
				<ul class="flex flex-col gap-4">
					{
						blog.map((post) => (
							<li>
								<ArrowCard entry={post} />
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold text-black dark:text-white">
					Let's Connect
				</h5>
				<article>
					<p>
						If you want to get in touch with me about something or
						just to say hi, reach out on social media.
					</p>
				</article>
				<ul class="flex flex-wrap gap-2">
					<li class="flex items-center gap-x-2 text-nowrap">
						<span>➡️</span>
						<Link href="/contact" aria-label="Get in touch">
							Get in Touch
						</Link>
					</li>
				</ul>
			</section>
		</div>
	</Container>
</PageLayout>
