---
type Props = {
	type: any
	name: string
	label: string
}

const { type = "text", label, name } = Astro.props
---

<label for={name} class="mt-2.5 block w-full group">
	<span
		class="text-sm font-medium group-hover:dark:text-white group-hover:text-black"
	>
		{label}
	</span>
	{
		type != "textarea" ? (
			<input type={type} id={name} name={name} class="" />
		) : (
			<textarea id={name} class="resize-vertical h-[75px]" />
		)
	}
</label>

<style>
	input,
	textarea {
		@apply mt-0.5 w-full rounded border border-black/15 dark:border-white/20 shadow-sm sm:text-sm px-2 py-1;
		@apply bg-white/75 dark:bg-black/15;
	}
</style>
