---
import type { CollectionEntry } from "astro:content"
import { formatDate, readingTime } from "@lib/utils"
import Icon from "@components/Icon.astro"

type Props = {
	entry: CollectionEntry<"projects"> | CollectionEntry<"blog">
}

const { entry } = Astro.props
const { collection, data, body } = entry
const { title, description, date } = data

const demoUrl = collection === "projects" ? data.demoURL : null
const repoUrl = collection === "projects" ? data.repoURL : null
const logoUrl = collection === "projects" ? data.logoURL : null
---

<div>
	<a
		href={`/${collection}`}
		class="group w-fit p-1.5 gap-1.5 text-sm flex items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="20"
			height="20"
			viewBox="0 0 24 24"
			fill="none"
			stroke-width="2.5"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
		>
			<line
				x1="19"
				y1="12"
				x2="5"
				y2="12"
				class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
			></line>
			<polyline
				points="12 19 5 12 12 5"
				class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
			></polyline>
		</svg>
		<div
			class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out"
		>
			Back to {collection}
		</div>
	</a>
	<div class="flex items-center text-sm mt-12 gap-3 opacity-75">
		<time>
			{formatDate(date)}
		</time>
		<span>&bull;</span>
		<span>
			{readingTime(body)}
		</span>
	</div>
	<div class="flex gap-4">
		<div class="flex-grow">
			<h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
				{title}
			</h1>
			<div class="mt-1">
				{description}
			</div>
			<ul class="mt-2 flex flex-wrap gap-1">
				{
					entry.data.tags.map((tag: string) => (
						<li class="text-xs uppercase py-0.5 px-2 rounded bg-black/5 dark:bg-white/10 text-black/75 dark:text-white/75">
							{tag}
						</li>
					))
				}
			</ul>
		</div>
		{
			logoUrl && (
				<div>
					<img class="animate size-16" src={logoUrl} alt={title} />
				</div>
			)
		}
	</div>
	{
		(demoUrl || repoUrl) && (
			<div class="mt-4 flex flex-wrap gap-2">
				{demoUrl && (
					<a
						href={demoUrl}
						target="_blank"
						class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend"
					>
						<Icon
							name="globe"
							class="size-4 fill-current group-hover:fill-black group-hover:dark:fill-white blend"
						/>
						<span class="text-current group-hover:text-black group-hover:dark:text-white blend">
							See Demo
						</span>
					</a>
				)}
				{repoUrl && (
					<a
						href={repoUrl}
						target="_blank"
						class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend"
					>
						<Icon
							name="link"
							class="size-4 fill-current group-hover:fill-black group-hover:dark:fill-white blend"
						/>
						<span class="text-current group-hover:text-black group-hover:dark:text-white blend">
							See Repository
						</span>
					</a>
				)}
			</div>
		)
	}
</div>
